@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 35px;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px; /* Tăng kích thước lên 60% */
  width: 50px; /* Tăng kích thước lên 60% */
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%) scale(1); /* Tăng kích thước lên 60% */
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 5px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card,.img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 500px; /* Tăng kích thước lên 60% */
  list-style: none;
  background: #fff;
  border-radius: 8px;
  display: flex;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel .card .img {
  background-color: #FF6348;
  width: 236px; /* Tăng kích thước lên 60% */
  height: 236px; /* Tăng kích thước lên 60% */
  border-radius: 50%;
}

.card .img img {
  width: 224px; /* Tăng kích thước lên 60% */
  height: 224px; /* Tăng kích thước lên 60% */
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #fff; /* Tăng kích thước lên 60% */
}

.card h2 {
  font-weight: 500px;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.card span {
  color: #6a6d78;
  font-size: 1.31rem;
}
.card .logo1 img{
  width: 30px;
  height: 30px;
  
}
.card .logo2 img{
  width: 25px;
  height: 25px;
}
.wrapper .carousel .card .logo img {
  font-weight: 500px;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
